/* Estilos globais do sistema */
@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900 antialiased;
  }
}

/* Custom Scrollbar Styles (Fallback for non-webkit) */
* {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d8 transparent;
}

.dark * {
  scrollbar-color: #52525b transparent;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}